body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: TimesNewRoman, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    background-color: transparent;
    max-width: 800px;
    width: 100%;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    display: block;
    width: 250px;
    height: auto; 
    border: 10px solid black; 
}

.text-container {
    max-width: 400px;
}

.text-container p {
    margin-top: 0;
}

.header-text {
    margin-bottom: 10px;
    padding: 0;
}

.header-text p {
    max-width: 400px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 2px 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: red;
}
