body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: left;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    max-width: 100px; /* Set the maximum width of the image */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: gray;
}
